version: 2
jobs:
  build:
    working_repositories: ~/repositories
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - restore_cache:
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install Dependencies
          command: |
            sudo pip install pipenv
            pipenv install
      - save_cache:
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
          paths:
            - "~/.local/share/virtualenvs"
      - run:
          name: Setup SSH for AWS CodeCommit
          command: |
            chmod +x scripts/setup-ssh.sh
            scripts/setup-ssh.sh $SSH_KEY_ID $AWS_DEFAULT_REGION
      - run:
          name: Mirror Github Repositories to AWS CodeCommit
          command: pipenv run python3 src/github-aws-commit-mirror.py

